<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lab 1 - Multimedia Programming 2563 ITKMITL</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
	<link rel=stylesheet href="../src/reset.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper title">
	<div class="container has-text-centered" id="app">
		<div class="notification is-info">
		<h1 class="title ">สูตรคูณ</h1>
	    
		<input class="input is-rounded is-dark" type="number" v-model="n">
		<div class="space"></div>
		<input class="input is-rounded is-dark" type="number" v-model="a">
		<div class="space"></div>
		</div>
		<div class="notification is-warning">
		<h3>สูตรคูณแม่ {{n}}</h3>
		<ul>
		<li v-for="l in r">{{n}} x <i>{{l}}</i> = <b>{{kun(l)}}</b></li>
		<h3><b>ผลรวม</b> {{sum}}</h3>
		</ul>
		</div>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				n: 1,
				a: 12,
			},
			methods:{
				kun: function(a){
					return this.n*a
				}
			},
			computed: {
				r: function(){
					return parseInt(this.a)
				},
				sum: function() {
					let sum = 0
					for (let i = 1; i <= this.a; i++) {
							sum += (this.kun(i))
						}
					return sum
					},
				x2: function(){
					return this.n*2
				}
			}
		});
	</script>
</body>
</html>