<!DOCTYPE html>
<html>
<head>
	<title>Lab 1 - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="n">
		<div class="space"></div>
		<h3>สูตรคูณแม่ {{n}}</h3>
		<ul>
		<li v-for="i in 12">{{n}} x {{i}} = <b>{{kun(i)}}</b></li>
	</ul>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				n: 2,
			},
			methods:{
				kun: function(il){
					return this.n*il
				}
			},
			computed: {
				x2: function(){
					return this.n*2
				}
			}
		});
	</script>
</body>
</html>